.user-list,.user-detail,.add-user-section{
	background-color: #E8E8E8;
	padding: 10px;
}
a,a:hover,a:active{
	text-decoration: none;
}
.floatL{
	float: left;
}

.floatR{
	float: right;
}

.bold{
	font-weight: bold;
}
.section-header{
	margin-bottom: 10px;
	height: 20px
}

.user-table.table{
	background-color: white;
	border-bottom: 1px solid #ff6600;
	margin-top: 20px;
}

.user-table tbody tr td{
	padding-top: 15px;
}

.user-table tbody td:first-child{
	padding-top: 10px;
}

.user-table.table tr td,.user-table.table thead tr th{
	border-color: #ff6600;
}

.user-img{
	border-radius: 50%;
	border:1px solid #ff6600;
}
.add-user,.add-user:hover,.add-user:active{
	color: #ff6600;
	border: 1px solid #ff6600;
	background-color: transparent;	
	padding: 5px;
	border-radius: 5px;
}
.header-component{
	padding: 10px;
}

.user-fields{
	padding: 20px;
}
.orange-text{
	color: #ff6600;
}
.delete-ph{
	margin-top: 10px;
}

.delete-user,.add-button{
	background-color: #ff6600;
	color: white;
	border-color: #ff6600;
	border-radius: 5px;
	box-shadow: none;
	margin-left: 100px;
	padding: 5px 10px;
	margin-top: 20px;
}
.add-button{
	margin-left: 15px;
}

.right-section,.left-section{
	width: 50%;
}

.right-section img{
	border: 4px solid #ff6600;
}

.container{
	display: flex;
	padding-top: 20px;
}

.paddingLeft20{
	padding-left: 20px;
}

.add-user-section form label{
	color: #ff6600;
}

.menu-drawer{
	background-color: rgba(85, 93, 104, 0.95);
	width: 200px;
	position:fixed;
	right: 0px;
	bottom: 0px;
	top: 0px; 
	padding-top: 20px;
	z-index: 10;
}

.menu-drawer ul{
	padding-left: 0px;
}

.menu-drawer li{
	height: 40px;
	padding: 10px;
	border-bottom: 2px solid white;
	list-style: none;
}

.menu-drawer li a{
	color: white;
	text-decoration: none;
}

.menu-drawer > span{
	padding-left: 10px;
	font-size: 22px;
}

.drawer-open{
	position: fixed;
	right: 210px;
}